# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Java
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.code-workspace

# OS
.DS_Store

# Env & Logs
.env
logs/
*.log
